.fs-4 {
  padding-left: 10px;
}

.btn-about:hover {
  transform: scale(95%) rotate(2deg);
}

.btn-info:hover {
  transform: scale(90%) rotate(2deg);
}

.btn-primary:hover,
.btn-outline-secondary:hover {
  transform: scale(109%) rotate(4deg);
}

.btn-read:hover {
  transform: scale(125%) rotate(-1deg);
}
