.fs-4 {
  padding-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.contact:hover {
  transform: scale(115%);
}

a.btn-success {
  background: lightgreen;
}
a.btn-warning {
  background: lightgoldenrodyellow;
}
a.btn-info {
  background: lightblue;
}
.btn-about:hover,
.btn-warning:hover,
.btn-success:hover {
  transform: scale(95%) rotate(2deg);
}

.btn-info:hover {
  transform: scale(90%) rotate(2deg);
}

.btn-primary:hover,
.btn-outline-secondary:hover {
  transform: scale(109%) rotate(4deg);
}

.btn-read:hover {
  transform: scale(125%) rotate(-1deg);
}

.gradient-custom {
  background: #fcecec;

  background: -webkit-linear-gradient(
    to right,
    rgba(252, 236, 236, 1),
    rgba(235, 229, 229, 1)
  );

  background: linear-gradient(
    to right,
    rgba(252, 236, 236, 1),
    rgba(235, 229, 229, 1)
  );
}
