{% extends 'layout.html' %} {% block title %} Contact {% endblock %} {% block
body %}
<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Contact Me</h1>
      <p class="lead text-muted">You can contact me at this email</p>
      <ul class="contact">
        <li>oleksandrr1996@protonmail.com</li>
      </ul>

      <br />
      <img src="static/img/contact.png" />
    </div>
  </div>
</section>
{% endblock %}
