{% extends 'layout.html' %} {% block title %} About {% endblock %} {% block body
%}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Brief introduction</h1>
      <p class="lead text-muted">
        This simple web-page was created for fun. Also, I can practice in web
        development a little bit. You can store, read, and modify any
        interesting facts about Shavkoon or Vasyl on that site. On the backend
        it uses PostgreSQL and Flask.
      </p>
      <p>
        <a href="https://t.me/gachiphilosophy" class="btn btn-primary my-2"
          >Our telegram channel</a
        >
        <a href="/donate" class="btn btn-secondary my-2"
          >Donate on liberation of Daria from serfdom</a
        >
      </p>
      <br />
      <h2 class="fw-light">You can donate crypto on these adresses:</h2>
      <br />
      <p><strong>BTC</strong>: bc1q5ddufuyaps20hvlgw7gve0ae8dhdrerfu5yyf0</p>
      <br />
      <p><strong>ETH</strong>: 0x9C8Bb474993D070C0056cb60fEE0690fD0b76f84</p>
      <br />
      <p><strong>USDT(TRC20)</strong>: TQGkoUZDK349YbVEwkyXVPph18iUuxE8A7</p>
    </div>
  </div>
</section>
{% endblock %}
