{% extends 'layout.html' %} {% block title %} Main Page {% endblock %} {% block
body %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="static/img/shav.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Do you know something about 105?
      </h1>
      <p class="lead">
        If you know any specific facts about Vasyl or Shavkoon please share with
        us!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/post/vasyl" class="btn btn-primary btn-lg px-4 me-md-2">
          Vasyl
        </a>
        <a href="/post/shavkoon" class="btn btn-outline-secondary btn-lg px-4">
          Shavkoon
        </a>
      </div>
    </div>
  </div>
</div>
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img
        class="mb-2"
        src="/static/img/streptomyces.png"
        alt=""
        width="80"
        height="60"
      />
      <small class="d-block mb-3 text-muted">© 2017–2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Contacts</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="/contact"
            >Contact us</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="/resource"
            >Resource</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Info</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary text-decoration-none" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}
