{% extends 'layout.html' %} {% block title %} Share your facts {% endblock %} {%
block body %}
<div class="container mt-5">
  <h1>Share your fact about Shavkoon</h1>

  <form method="post">
    <input
      type="text"
      name="title"
      class="form-control"
      placeholder="Put a brief title of your fact"
      required="true"
    /><br />
    <textarea
      name="text"
      class="form-control"
      placeholder="Write here the full story!"
      required="true"
    ></textarea
    ><br />
    <input
      type="text"
      name="author"
      class="form-control"
      placeholder="Write your name here"
      required="true"
    /><br />
    <label for="person"
      >Choose whether this applies only to Shavkoon or to Vasyl as well</label
    >
    <select class="form-control" name="person">
      <option value="Shavkoon">Shavkoon</option>
      <br />
      <option value="Both Shavkoon and Vasyl">
        Both Shavkoon and Vasyl
      </option></select
    ><br />
    <button type="submit" class="btn btn-success">Send</button>
  </form>
</div>
{% endblock %}
