{% extends 'layout.html' %} {% block title %} Read {% endblock %} {% block body
%}
<div class="container mt-5" style="text-align: center">
  <h1 class="read">Choose what you would like to read about</h1>
  <br />
  <div class="d-flex gap-5 justify-content-center">
    <form method="post">
      <label for="person">Choose one option</label>
      <select class="form-control" name="person">
        <option value="Shavkoon">Shavkoon</option>
        <option value="Both Shavkoon and Vasyl">Both Shavkoon and Vasyl</option>
        <option value="Vasyl">Vasyl</option>
        <option value="All">All facts</option></select
      ><br />
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
